{{ define "main" }}
<h1>Episodes</h1>

<ul class="episode-list">
  {{ range .Pages.ByDate.Reverse }}
  <li class="episode-item">
    {{ with .Resources.GetMatch "featured*" }} {{ $thumb := .Resize "300x" }}
    <!-- 300px wide, auto height -->
    <img
      src="{{ $thumb.RelPermalink }}"
      alt="{{ $.Title }} thumbnail"
      class="episode-thumb"
    />
    {{ end }}
    <div class="episode-text">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ with .Params.summary }}
      <p>{{ . }}</p>
      {{ end }}
    </div>
  </li>
  {{ end }}
</ul>

{{ end }}
