<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="site-wrapper">
      <header>
        <nav>
          <a href="/">Home</a>
          <a href="/episodes/">Episodes</a>
          <a href="/sound-sources/">Sound Sources</a>
          <a href="/about/">About</a>
        </nav>
      </header>

      <main>{{ block "main" . }}{{ end }}</main>

      <footer>
        <p>&copy; 2025 Dave O'Donnell / Sound Motives</p>
      </footer>
    </div>
  </body>
</html>
