{{ define "main" }}
<h1>Sound Sources</h1>
<ul>
  {{ range .Pages.ByTitle }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      
      {{ $guests := slice }}
      {{ range where site.Pages "Params.sound_sources" "intersect" (slice .File.BaseFileName) }}
        {{ range .Params.guests }}
          {{ $guests = $guests | append . }}
        {{ end }}
      {{ end }}

      {{ if gt (len $guests) 0 }}
        {{ range $guests | uniq }}
          <a href="/guests/{{ . }}" class="guest-ref">{{ . | humanize }}</a>
        {{ end }}
      {{ end }}
    </li>
  {{ end }}
</ul>
{{ end }}
